# render.yaml
services:
  - type: web
    name: bot-maker-bd
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: NODE_VERSION
        value: 18.17.0
    healthCheckPath: /api/health